services:
  api:
    build: .
    container_name: forgeo_api
    restart: always
    env_file:
      - .env
    volumes:
      - ./app:/app/app
    ports:
      - "8000:8000"
    depends_on:
      - db

  db:
    image: postgres:13
    container_name: forgeo_db
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=forgeo
      - POSTGRES_PASSWORD=enTyPuMCBKGh9dU7eSavsY2d3EN00keh
      - POSTGRES_DB=forgeo

  nginx:
    image: nginx:alpine
    container_name: forgeo_nginx
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/api.conf:/etc/nginx/conf.d/default.conf
      - ./certbot/conf:/etc/nginx/certs
      - ./certbot/www:/var/www/certbot
    depends_on:
      - api

  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: forgeo_pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@local.dev
      PGADMIN_DEFAULT_PASSWORD: admin123
      PGADMIN_CONFIG_SERVER_MODE: 'False'
    ports:
      - "5050:80"
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    depends_on:
      - db

volumes:
  postgres_data:
  pgadmin_data:
